In [1]:
# load necessay packages
import pandas as pd
import numpy as np

In [23]:
#load data
data = pd.read_csv("datasets/Paitients_Files_Train 1.csv")

#preview data
data

            ID  PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance   Sepssis
0    ICU200010    6  148  72  35    0  33.6  0.627   50          0  Positive
1    ICU200011    1   85  66  29    0  26.6  0.351   31          0  Negative
2    ICU200012    8  183  64   0    0  23.3  0.672   32          1  Positive
3    ICU200013    1   89  66  23   94  28.1  0.167   21          1  Negative
4    ICU200014    0  137  40  35  168  43.1  2.288   33          1  Positive
..         ...  ...  ...  ..  ..  ...   ...    ...  ...        ...       ...
594  ICU200604    6  123  72  45  230  33.6  0.733   34          0  Negative
595  ICU200605    0  188  82  14  185  32.0  0.682   22          1  Positive
596  ICU200606    0   67  76   0    0  45.3  0.194   46          1  Negative
597  ICU200607    1   89  24  19   25  27.8  0.559   21          0  Negative
598  ICU200608    1  173  74   0    0  36.8  0.088   38          1  Positive

[599 rows x 11 columns]

In [24]:
# set index to a specific column
data.set_index('ID', inplace=True)

data

           PRG   PL  PR  SK   TS   M11    BD2  Age  Insurance   Sepssis
ID
ICU200010    6  148  72  35    0  33.6  0.627   50          0  Positive
ICU200011    1   85  66  29    0  26.6  0.351   31          0  Negative
ICU200012    8  183  64   0    0  23.3  0.672   32          1  Positive
ICU200013    1   89  66  23   94  28.1  0.167   21          1  Negative
ICU200014    0  137  40  35  168  43.1  2.288   33          1  Positive
...        ...  ...  ..  ..  ...   ...    ...  ...        ...       ...
ICU200604    6  123  72  45  230  33.6  0.733   34          0  Negative
ICU200605    0  188  82  14  185  32.0  0.682   22          1  Positive
ICU200606    0   67  76   0    0  45.3  0.194   46          1  Negative
ICU200607    1   89  24  19   25  27.8  0.559   21          0  Negative
ICU200608    1  173  74   0    0  36.8  0.088   38          1  Positive

[599 rows x 10 columns]